<div *ngIf="area" class="sidebar" [class.mat-elevation-12]="true">
    <mat-form-field class="sidebar-form">
        <input matInput placeholder="Area Name" value="{{area.name}}">
    </mat-form-field>
    <mat-card *ngFor="let act of actionService.actions">
        <mat-card-header class="card-header" (click)="changeActiveAction(act.id)">
            <div mat-card-avatar class="{{act.serviceName}}-icon {{act.type}}-image mat-card-avatar"></div>
            <mat-card-title>{{act.name?.uncamelize()}}</mat-card-title>
            <mat-card-subtitle>{{act.type?.uncamelize()}}</mat-card-subtitle>
            <button class="action-icon" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteAction(act.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Action</span>
                </button>
                <button mat-menu-item (click)="saveAction(act.id)">
                    <mat-icon>save</mat-icon>
                    <span>Save Action</span>
                </button>
            </mat-menu>
        </mat-card-header>
        <mat-card-content [ngClass]="{'mh-0': act.id !== action.id}">
            <mat-action-list>
                <mat-list-item (click)="stepperService.changeStep(0)">
                    <app-action-step
                            [icon]='"settings"'
                            [content]="act.serviceName ? act.serviceName.uncamelize() : stepperService.getStep(Steps.SERVICE).description"
                            [step]="0">
                    </app-action-step>
                </mat-list-item>
                <mat-list-item (click)="stepperService.changeStep(1)">
                    <app-action-step
                            [icon]='"offline_bolt"'
                            [content]="act.name ? act.name.uncamelize() : stepperService.getStep(Steps.TYPE).description"
                            [step]="1">
                    </app-action-step>
                </mat-list-item>
                <mat-list-item (click)="stepperService.changeStep(2)">
                    <app-action-step
                            [icon]='"person"'
                            [content]='stepperService.getStep(Steps.ACCOUNT).description'
                            [step]="2">
                    </app-action-step>
                </mat-list-item>
                <mat-list-item (click)="stepperService.changeStep(3)">
                    <app-action-step
                            [icon]='"list"'
                            [content]='stepperService.getStep(Steps.OPTIONS).description'
                            [step]="3">
                    </app-action-step>
                </mat-list-item>
            </mat-action-list>
        </mat-card-content>
    </mat-card>
    <div class="add-step-container">
        <button mat-raised-button color="accent" (click)="addAction()"> Add a step </button>
    </div>
</div>
