@import '~@angular/material/theming';
@import './app/components/login/login-theme';
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$accent-palette: (
        50 : #fffbe9,
        100 : #fef5c8,
        200 : #fdefa4,
        300 : #fce87f,
        400 : #fce363,
        500 : #fbde48,
        600 : #fada41,
        700 : #fad538,
        800 : #f9d130,
        900 : #f8c821,
        A100 : #ffffff,
        A200 : #fffefc,
        A400 : #fff2c9,
        A700 : #ffecb0,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$primary-palette: (
        50 : #e0f5f6,
        100 : #b3e6e9,
        200 : #80d6da,
        300 : #4dc5cb,
        400 : #26b8bf,
        500 : #00acb4,
        600 : #00a5ad,
        700 : #009ba4,
        800 : #00929c,
        900 : #00828c,
        A100 : #b8f9ff,
        A200 : #85f4ff,
        A400 : #52f0ff,
        A700 : #39eeff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$warn-palette: (
        50 : #fbe4e5,
        100 : #f5bbbe,
        200 : #ef8e92,
        300 : #e86166,
        400 : #e33f46,
        500 : #de1d25,
        600 : #da1a21,
        700 : #d5151b,
        800 : #d11116,
        900 : #c80a0d,
        A100 : #fff3f3,
        A200 : #ffc0c1,
        A400 : #ff8d8e,
        A700 : #ff7475,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$primary: mat-palette($primary-palette);
$accent:  mat-palette($accent-palette);
$warn:    mat-palette($warn-palette);
$theme-light: mat-light-theme($primary, $accent, $warn);
$theme-dark: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme-dark);
@include login-theme($theme-dark);

.light {
        @include angular-material-theme($theme-light);
        $foreground: map-get($theme-light, foreground);
        $background: map-get($theme-light, background);
        @include login-theme($theme-light);
}

.area-primary, .area-primary:hover, .area-primary:focus, .area-primary:visited {
        color: mat-color($primary);
}

.area-accent, .area-accent:hover, .area-accent:focus, .area-accent:visited {
        color: mat-color($accent);
}

.area-warn, .area-warn:hover, .area-warn:focus, .area-warn:visited {
        color: mat-color($warn);
}