<ng-template [ngIf]="action">
    <button (click)="resetStepper()">TEST</button>
    <mat-horizontal-stepper linear #stepper>
        <mat-step *ngFor="let form of forms" [stepControl]="form.group" [optional]="false" [label]="form.description">
            <form [formGroup]="form.group">
                <ng-template appDynamicAction [type]="form.name" [form]="form.group"> </ng-template>
            </form>
            <div>
                <button *ngIf="form.name != forms[0].name" mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</ng-template>