<mat-tab-group [dynamicHeight]="true">
    <ng-template [ngIf]="_action">
        <mat-tab label="Choose App">
            <app-service-manager></app-service-manager>
        </mat-tab>
        <mat-tab label="Select Trigger">
            <app-trigger-manager></app-trigger-manager>
        </mat-tab>
        <ng-template [ngIf]="_action.name">
            <mat-tab label="Connect account">
                <app-account-manager></app-account-manager>
            </mat-tab>
            <ng-template [ngIf]="_action.id">
                <mat-tab label="Setup Options">
                    <app-options-manager></app-options-manager>
                </mat-tab>
            </ng-template>
        </ng-template>
    </ng-template>
</mat-tab-group>