<ng-template [ngIf]="action">
    <mat-horizontal-stepper linear #stepper>
        <mat-step *ngFor="let step of stepsService.steps | keyvalue:indexOrderAsc" [stepControl]="step.value.group" [label]="step.value.description">
            <form [formGroup]="step.value.group">
                <ng-template appDynamicAction [type]="step.key"> </ng-template>
            </form>
            <div>
                <button *ngIf="step.key != stepsService.firstStep" mat-button matStepperPrevious>Back</button>
                <button *ngIf="step.key != stepsService.lastStep" mat-button matStepperNext>Next</button>
                <button *ngIf="step.key === stepsService.lastStep" mat-raised-button color="primary">Save</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</ng-template>