@import 'login-theme';


.area-login {
  background-image: url("/assets/backlit.jpg");
  background-size: cover;
  background-origin: border-box;
  height: 100vh;
}

.area-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;

  & > *, ::ng-deep .area-container svg-icon > * {
    position: relative;
    display: block;
    width: 100%;
  }
}

.area-container {
  @extend .area-form;

  max-width: 500px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  svg-icon {
    display: block;
    margin: 0 20px;
  }
}

.area-top-form-logo {
  margin-bottom: 20px;
}

.social-buttons {
  text-align: center;
  button {
    text-align: left;
    margin: 5px 5px 5px 5px;
    width: 180px;

    span {
      width: 20px;
    }
  }

  button.signup {
    width: 190px;
  }

  button.btn-social {
    color: white;
  }

  .btn-google {
    background: #c32f10ff;
  }

  .btn-facebook {
    background: #3b5998ff;
  }
}

.alert {
  margin-top: 20px;
  margin-bottom: 0;
  i {
    vertical-align: middle;
  }
  .close-alert {
    -webkit-appearance: none;
    position: relative;
    float: right;
    padding: 0;
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 21px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    filter: alpha(opacity=40);
    opacity: .4;
    &:hover{
      filter: alpha(opacity=70);
      opacity: .7;
    }
  }
}

/*.untitled-divider {
  width:100%;
  text-align:center;
  border-bottom: 1px solid #fff;
  line-height:0.1em;
  margin: 28px 0 20px;
  span { padding:0 10px; }
}*/