<mat-expansion-panel class="output-list" *ngIf="action.type === 'reaction'">
    <mat-expansion-panel-header>
        <mat-panel-title class="output-title">
            {{firstAction.name}} output's
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
        <mat-list-item *ngFor="let out of output">
            <h4 mat-line>{{out.name}}</h4>
            <p mat-line> {{out.description}} </p>
        </mat-list-item>
    </mat-list>
</mat-expansion-panel>

<ng-container *ngFor="let field of options;">
    <ng-container *ngIf="stepsService.getFormGroup(type).contains(field.name)"
                  appDynamicField [field]="field"
                  [group]="stepsService.getFormGroup(type)">
    </ng-container>
</ng-container>