.output-list {
  position: relative;
  margin-bottom: 20px;
  ::ng-deep .output-title {
    text-transform: capitalize;
  }

  .output-line {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-wrap: normal;
  }
}