@import '~@angular/material/theming';

.account-list {
  list-style-type: none;
  padding: 0;
  margin-right: 10px;

  p {
    margin: auto auto auto 20px;
  }

  & > * {
    margin: auto !important;
    padding: 10px;
  }

  mat-card {
    display: flex !important;
    align-items: center;
    &:hover {
      @include mat-elevation(12);
    }
  }

}