<div class="area-login">

    <div class="area-container">
    <!--div class="text-center area-top-step-logo">
        <svg-icon src="assets/blindtest-logo.svg" ngClass="centered-icon"></svg-icon>
    </div-->
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Login">
                <form class="area-form" [formGroup]="loginForm"
                      (submit)="login(this.loginForm.get('email').value, this.loginForm.get('password').value)">
                    <mat-form-field>
                        <input matInput="" type="email" formControlName="email" placeholder="Email" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput="" type="password" formControlName="password" placeholder="Password" required>
                    </mat-form-field>
                    <div class="area-row">
                        <button [disabled]="!loginForm.valid" mat-raised-button color="primary"
                                type="submit" class="col-12">Login
                        </button>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="Register">
                <form class="area-form" [formGroup]="userForm"
                      (submit)="signUp(this.userForm.get('username').value, this.userForm.get('email').value, this.userForm.get('password').value)">
                    <mat-form-field>
                        <input matInput="" type="text" placeholder="Username" formControlName="username" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput="" type="email" formControlName="email" placeholder="Email" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput="" type="password" formControlName="password" placeholder="Password" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput="" type="password" formControlName="passwordConfirm" placeholder="Confirm Password" required>
                    </mat-form-field>
                    <div class="area-row">
                        <button [disabled]="!userForm.valid" mat-raised-button color="primary"
                                type="submit" class="col-12">Sign-up
                        </button>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
        <div *ngIf="userError != ''" class="alert alert-danger" role="alert">
            <button type="button" class="close-alert" (click)="userError = ''">×</button>
            <i class="material-icons">error</i>
            {{userError}}
        </div>
        <p class="untitled-divider">
            Or login with
        </p>
        <div class="social-buttons d-flex justify-content-between flex-wrap">
            <button mat-raised-button type="button" (click)="loginSocial('google')" class="btn-social btn-google flex-fill ml-0">
                <span class="fa fa-google"></span> Login with Google
            </button>
            <button mat-raised-button type="button" (click)="loginSocial('facebook')" class="btn-social btn-facebook flex-fill mr-0">
                <span class="fa fa-facebook"></span> Login with Facebook
            </button>
            <button mat-raised-button type="button" (click)="doTwitterLogin()" class="btn-social btn-twitter flex-fill mr-0">
                <span class="fa fa-twitter"></span> Login with Twitter
            </button>
        </div>
    </div>
</div>