<div class="navbar-padding">
    <div class="navbar-container">
        <div id="navbar" class="container">
            <a href="/home" class="svg">
                <svg-icon src="assets/area.svg"></svg-icon>
            </a>
            <div class="area-tools">
                <button mat-raised-button color="primary">
                    Make an Area!
                </button>
                <button mat-button (click)="user()">
                    <mat-icon>person</mat-icon> {{displayName}}
                </button>
                <!--button mat-icon-button color="warn" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button-->
            </div>
        </div>
    </div>
</div>