<div class="navbar-padding">
    <div class="navbar-container">
        <div id="navbar" class="container">
            <a routerLink="/app" class="svg">
                <svg-icon src="assets/area.svg"></svg-icon>
            </a>
            <div class="area-tools">
                <button mat-raised-button color="primary" routerLink="/app/editor">
                    Make an Area!
                </button>
                <button mat-button routerLink="/app/account">
                    <mat-icon>person</mat-icon> <span class="username">{{displayName}}</span>
                </button>
                <button mat-icon-button (click)="switchTheme()">
                        <mat-icon>brightness_medium</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>