<mat-card class="d-flex align-content-center flex-wraps">
    <div routerLink="/app/editor/{{area.id}}" class="area-infos d-flex flex-fill align-content-center flex">
        <ol class="d-flex align-content-center">
            <li *ngFor="let item of area.actions" class="action-type-icon">
                <svg-icon *ngIf="item.serviceName" src="assets/types/{{item.serviceName}}.svg"></svg-icon>
            </li>
        </ol>
        <p >{{area.name}}</p>
    </div>
    <div class="area-options align-middle">
        <mat-slide-toggle></mat-slide-toggle>
    </div>
</mat-card>