mat-card {
  cursor: pointer;
  ol {
    position: relative;
    list-style-type: none;
    padding: 0;
    width: 160px;
    li:not(:last-child) {
      margin-right: 25px;
    }
    li {
      &:not(:last-child) svg-icon::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: calc(50% - 5px);
        border-left-color: grey !important;
        border: 5px solid transparent;
        margin-left: 10px;
      }

      ::ng-deep svg-icon {
        svg {
          height: 30px !important;
          width: 30px !important;
        }
      }
    }
  }

  & > * {
    margin: auto !important;
  }
}

$break-phone: 778px;

@media screen and (max-width: $break-phone) {
  mat-card {
    padding: 0;
    flex-direction: column !important;
    ol {
      width: auto;
    }
    & > * {
      margin: 10px auto !important;
    }
  }
}