<mat-form-field class="demo-full-width w-100" [formGroup]="group">
    <textarea matInput
              [formControlName]="field.name" [placeholder]="field.label" [type]="field.inputType"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"></textarea>
    <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
        <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation.message}}</mat-error>
    </ng-container>
</mat-form-field>